/*intro afbeelding zetten*/
#intro {
    background-image: url(../IMG/intro/bronnen.jpg);
}

/*tabel 30px van de intro afbeelding zetten & een single border*/
table {
    margin-top: 30px;
    border-collapse: collapse;
}

/*minimale hooghe van th zetten*/
th {
    height: 30px;
}

/*ruimte tussen de border veranderen en text aan de linker kant zetten*/
th, td {
    padding: 15px;
    text-align: left;
}